<%- include('partials/head')%>
<div class="link">
  <a href="/new">New Messsage</a>
</div>
<div id="homepage">
  <% messages.map((value) => { %>
  <div class="messages">
    <p class="user"><%=value.user%></p>
    <p class="text"><%=value.text%></p>
    <p class="added"><%=value.added%></p>
  </div>
  <% })%>
  <div class="push"></div>
</div>
</body>
</html>
